<ion-view view-title="Reddit" name="reddit-view">
  <ion-content class="padding">
 <h1>Expandable Search Form</h1>
<form>
  <input type="search" placeholder="Search">
</form>
<form id="demo-2">
  <input type="search" placeholder="Search">
</form>


    <button class="button button-calm" ng-click="submit()">
        Get JSON!
    </button>
      <ion-item ng-repeat="post in posts">
        <img ng-src='{{post.data.thumbnail}}' class="img-circle" onError="this.onerror=null;this.src='../images/unknown.png';">
        <div class="author">{{post.data.author}}</div>
        <div class="title">{{post.data.title}}</div>
        <span class="comments">{{post.data.num_comments}}</span>
        <span class="comments">{{post.data.ups}}</span>
        <span class="comments">{{post.data.downs}}</span>
      </ion-item>
  </ion-content>
</ion-view>