<ion-view view-title="Reddit" name="reddit-view">
  <ion-content class="padding">
<form name="searchForm">
  <input name="input" ng-model="searchText" type="text" placeholder="funny">
  <button class="button button-calm" type="submit" ng-click="submit(searchText)">Get JSON!</button>
  <pre>search={{searchText}}</pre>
</form>

      <ion-item ng-repeat="post in posts">
        <img ng-src="{{post.data.thumbnail}}" alt="No Image"class="img-circle" onError="this.src='../images/unknown.png';">
        <div class="author" >{{post.data.author}}</div>
        <div class="title">{{post.data.title}}</div>
        <span class="data">{{post.data.num_comments}}</span>
        <span class="data">{{post.data.ups}}</span>
        <span class="data">{{post.data.downs}}</span>
      </ion-item>
  </ion-content>
</ion-view>